<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      IMC Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Altura (M)</ion-label>
        <ion-input [(ngModel)]="height"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Peso (KG)</ion-label>
        <ion-input [(ngModel)]="weight"></ion-input>
      </ion-item>


        <ion-button expand="block" (click)="calculateBmi()"> Cálculo de IMC</ion-button>

    </ion-card-content>
  </ion-card>

  <div *ngIf="BMI" text-center>
    <h1>Su IMC es: {{ BMI.BMI }}</h1>
    <h2>Su clasificación es: {{ BMI.classification }}</h2>
  </div>
</ion-content>
